<form action="/add" method="post">
    <label for="titulo">Titulo</label>
    <input type="text" name="titulo" id="titulo">
    <label for="conteudo">Conteudo</label>
    <input type="text" name="conteudo" id="conteudo">
    <button type="submit">Postar</button>
</form>